<!-- Control Sidebar -->
<div class="control-sidebar-bg"></div>

<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/plugins/jquery/jquery-1.12.3.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/dist/js/app.min.js"></script>

<script>
  document.body.style.display = 'block';
  i18n.changeLanguage('pt-BR');  
</script>
