<!-- PAGE FOOTER -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 0.9.10a
  </div>
  <strong>Copyright &copy; 2016 <a href="http://www.orion.inf.br">Orion Informatica</a>.</strong> All rights reserved.
</footer>
