<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Orion - Portal Administrativo Tesoureiro Eletrônico</title>

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugins/font-awesome-4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/dist/css/skins/skin-orion.css">

<script src="/plugins/jquery/jQuery-2.1.4.min.js"></script><!-- load jquery -->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>-->
<script src="/plugins/angular/angular.min.js"></script>

<script src="/plugins/dom-i18n/dist/dom-i18n.min.js"></script>
