<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    
    <link rel="stylesheet" href="./monitoramento.css">
  </head>
  
  <body class="hold-transition skin-orion sidebar-mini">
    <div class="wrapper">
      
      <!-- PAGE HEADER -->
      <% include ../partials/header %>
      
      <!-- SIDE BAR MENU -->
      <% include ../partials/menu %>
      
      <!-- PAGE CONTENT -->
      <!-- PAGE CONTENT -->
      <!-- PAGE CONTENT -->
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Painel de controle
            <small>Monitoramento de Terminais</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Monitoramento</li>
            <li class="active">Terminais</li>
          </ol>
        </section>
        
        <!-- Main content -->
        <section class="content">
          <div class="table-responsive" ng-app="monitoramentoApp" ng-controller="monitoramentoController">
          <!-- <div class="table-responsive" ng-app="monitoramentoApp" ng-controller="monitoramentoController"> -->
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
              <thead>
                <tr>
                  <th style="width:8%">Terminal</th>
                  <th style="width:12%">Descrição</th>
                  <th style="width:12%">Estabelecimento</th>
                  <th style="width:5%" class="hidden-phone">Terminal</th>
                  <th style="width:5%" class="hidden-phone">Validador</th>
                  <th style="width:5%" class="hidden-phone">Impressora</th>
                  <th style="width:5%" class="hidden-phone">Biometria</th>
                  <th style="width:5%" class="hidden-phone">Porta</th>
                  <th style="width:20%">Data Sonda</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="terminal in terminais">
                  <td><a href="/monitoramento/detalhe?id={{terminal.ID_TERMINAL}}&nr_terminal={{terminal.NR_TERMINAL}}">{{terminal.NR_TERMINAL}}</a></td>
                  <td>{{terminal.DS_TERMINAL}}</td>
                  <td>{{terminal.DS_NOME_SITE}}</td>
                  <td align="center">
                    <span class="badge">{{terminal.ST_TERMINAL}} <i class="{{terminal.CLASS_TERMINAL}}"></i></span>
                  </td>
                  <td align="center">
                    <span class="badge">{{terminal.ST_VALIDADOR}} <i class="{{terminal.CLASS_VALIDADOR}}"></i></span>
                  </td>
                  <td align="center">
                    <span class="badge">{{terminal.ST_IMPRESSORA}} <i class="{{terminal.CLASS_IMPRESSORA}}"></i></span>
                  </td>
                  <td align="center">
                    <span class="badge">{{terminal.ST_BIOMETRIA}} <i class="{{terminal.CLASS_BIOMETRIA}}"></i></span>
                  </td>
                  <td align="center">
                    <span class="badge">{{terminal.ST_PORTA}}<i class="{{terminal.CLASS_PORTA}}"></i></span>
                  </td>
                  <td>
                    {{terminal.DT_ULT_SONDA | date:'dd/MM/yyyy HH:mm:ss'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      
      
      <!-- PAGE FOOTER -->
      <% include ../partials/footer %>
      
      <!-- CONTROLS -->
      <% include ../partials/controls %>
      
      <script src="controllers/monitoramento.js"></script>
      
    </div>
  </body>
</html>
